#form {
    margin: auto;
}

.row {
    margin-top: 15px;
}

#footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

#profilepic-id {
    border: solid 3px;
    border-color: grey;
}

.sidebar {
    height: 100%;
    z-index: 1;
    width: 100%;
    top: 0;
}

@media(min-width:768px) {
    #footer {
        position: absolute;
    }
}


@media(min-width:767px){
    .sidebar{
        margin-left: 10;
    }
}